* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
}

body {
    background-color: #0B3D91; 
    animation: cosmicShift 15s infinite;
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    #parent-container {
        display: flex;
        flex-direction: column;
        width: 60%;
        max-width: 850px;
        .container {
            display: block;
            animation-name: animateIn;
            animation-duration: 350ms;
            animation-delay: calc(var(--animation-order) * 150ms);
            animation-fill-mode: both;
            animation-timing-function: ease-in-out;
        }
        #pfp {
            text-align: center;
            margin-bottom: 30px;
        }
        #survey {
            display: flex;
            flex-direction: column;
            background: rgba(15, 15, 15, 0.76);
            border-radius: 8px;
            padding: 24px;
            .title {
                display: flex;
                flex-direction: column;
                .main {
                    font-weight: bold;
                    font-size: 24px;
                    color: white;
                }
                .span {
                    color: #999;
                    padding-top: 4px;
                }
            }
            .option-list {
                display: flex;
                flex-direction: column;
                .option {
                    border-radius: 8px;
                    cursor: pointer;
                    transition: 0.1s;
                    p {
                        color: white;
                        font-size: 22px;
                        font-weight: 500;
                        padding: 8px 8px 8px 0px;
                    }
                    &:hover {
                        background:rgba(170, 170, 170, 0.3);
                        margin-left: 8px;
                        transition: 0.1s;
                        p {
                            color: deepskyblue;
                            font-weight: 700;
                            padding: 8px 8px 8px 8px;
                        }
                    }
                }
                .option:first-of-type {
                    margin-top: 10px;
                }
            }
        }
        #socials {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            .row {
                display: flex;
                flex: 1;
                width: 100%;
                margin-bottom: 20px;
                .card {
                    display: flex;
                    flex: 1;
                    padding: 10px;
                    border-radius: 8px;
                    align-items: center;
                    .social-img {
                        height: 50px;
                        margin-left: 5px;
                    }
                    .info {
                        display: flex;
                        flex-direction: column;
                        margin-left: 15px;
                        .social-title {
                            font-weight: 500;
                            font-size: 18px;
                            color: #cccccc;
                        }
                        .details {
                            font-weight: bold;
                            font-size: 24px;
                            color: white;
                        }
                    }
                    .copy-to-clipboard {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-left: auto;
                        margin-right: 5px;
                        padding: 8px;
                        cursor: pointer;
                        border-radius: 8px;
                        img {
                            height: 20px;
                            width: 20px;
                        }
                        .copy-text {
                            color: white;
                            font-weight: 500;
                            margin-top: 4px;
                            font-size: 14px;
                        }
                        &:hover {
                            background:rgba(170, 170, 170, 0.3)
                            
                        }
                    }
                }
                .card:nth-child(even) {
                    margin-left: 20px;
                }
                #battlenet {
                    border: 3px solid #3F8FF7;
                }
                #discord {
                    border: 3px solid #586AEA;
                }
                #steam {
                    border: 3px solid #fff;
                }
                #league {
                    border: 3px solid #CEA146;
                }
                #epic {
                    border: 3px solid #fff;
                }
                #github {
                    border: 3px solid #fff;
                }
            }
        }
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0B0B0B;
    padding: 10px 0px;
    color: white;
    text-align: center;
    a {
        font-size: 14px;
        text-decoration: none;
        color: white;
    }
}

@keyframes cosmicShift {
    0%, 100% { background-color: #0B3D91; } // Deep Space Blue
    25% { background-color: #32174D; } // Galactic Purple
    50% { background-color: #553285; } // Nebula Magenta
    75% { background-color: #342E5F; } // Twilight Violet
}

@keyframes animateIn {
    0% {
      opacity: 0;
      transform: scale(0.6) translateY(-8px);
    }
    
    100% {
      opacity: 1;
    }
  }

@media only screen and (max-width: 1090px) {
    .row {
        flex-direction: column !important;
        margin: 0 !important;
    }
    .card {
        margin: 10px 0px !important;
    }
    #parent-container {
        width: 85% !important;
        padding-bottom: 60px;
    }
    body {
        justify-content: baseline !important;
        align-items: baseline !important;
        padding: 40px 0px;
    }
}

@media only screen and (max-width: 529px) {
    .copy-to-clipboard {
        display: none !important;
    }
}